.introBlog{
    position: relative;
    width: 100%;
    height: 50vh;
    background: url('../img/blog/page-banner-bg-5.webp') ;
    background-size: cover;
    
}
.blogArea{
    width: 100%;
    height: auto;
}