.bookTable{
    

    .addBtn{
        background-color: #8b4513;
        color: #fff;
    }
}
.blogTaple{
    width: 100%;
    height: 90vh ;
    background-image: linear-gradient(#00000085,#000000),
    url("https://www.telegraph.co.uk/content/dam/food-and-drink/2022/04/26/Lahpet-West-End_Interiors_Credit-Kathrin-Werner_trans_NvBQzQNjv4BqZgEkZX3M936N5BQK4Va8RWtT0gK_6EfZT336f62EI5U.jpg") !important;
    background-size: cover;
    a{
        color: rgb(237, 172, 66);
    }

}
.delete{
    position: absolute;
    bottom: 23vh;
    right: 5.5rem;
    border-radius:0 ;
}
.listBlog{
    img{
        width: 11rem;
        height: 11rem;
    }
    .edit{
       a{
        background-color: #8b4513;
        color: #fff;
       }
    }
    .dec{
        text-align: justify;
    }
    
}
.sign-out{
    border: none;
    background-color: transparent;
    color: #ffff;
    font-size: 28px;
 
}
.backBtn{
    margin-bottom: 5rem !important;
    font-size: 26px;
    color: #fff;
    &:hover{
        color: #8b4513;
    }
}
@media screen and (max-width:319px){
    .listBlog img {
        width: 4rem;
        height: 4rem;
    }
    .dec{
        font-size: 12px;
    }
    .bookTable .addBtn {
       font-size: 12px;
    }
    .listBlog .edit a {
       font-size: 12px;
    }
    .blogId{
        display: none;
    }
    #idBlog{
        display: block !important;
        font-size: 12px;
    }
    .blogTableTitle{
        display: none;
    }
    .readMoreBtn{
        font-size: 12px;
    }
    .delete{
        bottom: 29vh;
        right: 2rem;
    }
}

@media screen and (max-width:480px) and (min-width:320px){
    .listBlog img {
        width: 4rem;
        height: 4rem;
    }
    .dec{
        font-size: 12px;
    }
    .bookTable .addBtn {
       font-size: 12px;
    }
    .listBlog .edit a {
       font-size: 12px;
    }
    .blogId{
        display: none;
    }
    #idBlog{
        display: block !important;
        font-size: 12px;
    }
    .readMoreBtn{
        font-size: 12px;
    }
    .delete{
        bottom: 29vh;
        right: 2rem;
    }
}
@media screen and  (max-width:768px)  and  (min-width: 481px){
    .listBlog  {
        img{
        width: 5rem;
        height: 5rem;
    }
    th{
        font-size: 12px;
    }
    }
    .delete{
        bottom: 28vh;
        right: 4rem;
    }
    
}
@media screen and (max-width:992px)   and (min-width: 769px){
    .listBlog img {
        width: 6rem;
        height: 6rem;
    }
    .dec{
        font-size: 12px;
    }
    .delete{
        bottom: 28vh;
    }
}
@media  screen and (min-width: 992px) and (max-width:1200px) {
    .delete{
        bottom: 28vh;
    }
}