
.menuFirst{
   
.menuBg{
    background: 
    url('../img/about/page-banner-bg.webp');
    background-position: 50% 50%;
    background-size: 100%; 
}
}
.menuSecCard{
   padding-bottom: 10vh;
   height: auto;
   background-color: #fbf1e7;

   .row{
      
      img{
       width: 100%;
       height: 30vh;
       border-radius:15px ;
       box-shadow: 1px 2px 6px 2px rgba(102, 101, 101, 0.474);

      }
      .card{
         margin-top: 30%;
         padding: 5%;
         transition: all 0.5s;
         box-shadow: 1px 2px 6px 2px rgba(102, 101, 101, 0.474);

         &:hover .content{
            display: block;
            animation: CardAni 1s;
         }
         &:hover .content h6{
            animation: CardAni 1s;
         }
         &:hover .content p{
            animation: CardAni 1s;
         }
         &:hover .content div{
            animation: CardAni 1s;
         }
         &:hover .title{
            margin-top: 2%;
         }
      }
      .image{
         width: 75%;
         height: 30vh;
         border-radius: 20px;
         position: absolute;
         background-color: #fff;
         border: 1px solid rgba(113, 113, 113, 0.727);
         box-shadow: 1px 2px 6px 2px rgba(102, 101, 101, 0.474);
         top: -18%;
         left: 14%;
      }
      .content{
         margin-top: 65%;
         display: none;
         color: #0E1317;
         transition: all 0.5s;
         i{
            font-weight: 600;
            color: #0E1317;
         }
         h6{
         transition: all 0.5s;
         color: #995D22;


         }
         h5{
            color: #995D22;
         }
         div{
         transition: all 0.5s;

         }
      }
      .title{
         color: #0E1317;
         margin-top: 65%;
      }
      .addBtn{
         background-color: #995D22;
         margin-top: -2%;
         color: #fff;
         width: 6rem;
         transition: 1s;
         height: auto;


         &:hover{
            background-color: transparent;
            color: #0E1317;
            border: 1px solid #0E1317;
            transition: all 1s;
         }
      }
   }
   .btnContan{
      // width: 65%;
      padding-top: 5%;
      .filterBtn{
         margin-bottom: 2%;
         background-color: #cd965e;
         color: rgb(12, 12, 12);         
         &:hover{
            color: #0E1317;
            border-bottom: 1px solid #0E1317;
            
         }
         
      }
   }
}
.filterActive{
   color: #0E1317;
   border-bottom: 1px solid #0E1317;
}
.cartItem{
   position: absolute;
   width: 20px;
   height: 20px;
   margin-left: 20px;
   border-radius: 50%;
   z-index: 5;
   background-color: red;
   span{
      color: #fff;
      z-index: 6;
      font-size: 11px;
   }
}
.pagination{
   .active{
      border: none;
      a{
      background-color: #995D22 !important;
      border-color: #995D22;
      color:#fff  !important;

      }
   }
   margin-top: 5rem;
   .page-item{
   color: #995D22;
   margin: 5px;

     a{
      border-radius: 50%;
      color: #995D22;
      background-color: transparent;
      border-color: #995D22;

     }
   }
}
// Media
// @media screen and (max-width:480px) and (min-width:320px){}
// @media screen and  (max-width:768px)  and  (min-width: 481px){}
// @media screen and (max-width:992px)   and (min-width: 769px){}
// @media  screen and (min-width: 992px) and (max-width:1200px) {}

// Animation 

.cardMain {
   .like{
      font-size: 22px;
      color: #0E1317;
      &:hover{
         color: #995D22;
      }

   }
   .details{
      font-size: 20px;
   }
}
@keyframes CardAni {
  from{
   width: 100%;
   height: 1vh;
   opacity: 0;
  }
  to{
   width: 100%;
   height: auto;
   opacity: 1;
  }
}

@media screen and  (max-width:320px){
   .menuSecCard .btnContan button{
      font-size: 7px;
   }
   .menuSecCard .row img {
      height: 22vh;
     }
   .menuSecCard .row .image {
      height: 22vh;
   }

   .searchBtn {
      right: 1.5rem !important;
  }
}
@media screen and (max-width:480px) and (min-width:320px){
   .menuSecCard .row img {
      height: 25vh;
     }
   .menuSecCard .row .image {
      height: 25vh;
   }

   .searchBtn {
      right: 1.5rem !important;
  }

}
@media screen and  (max-width:768px)  and  (min-width: 481px){
   .menuSecCard .row img {
      height: 30vh;
     }
   .menuSecCard .row .image {
      height: 30vh;
   }
   
   .menuSecCard .row .card {
      height: 40vh;
      display: flex;
      justify-content: flex-end;
      &:hover{
         height: auto;
      }
   }
   .searchMain{
      input{
         height: 6vh;
         width: 100%;
      }
      button{
         right: 2rem;
      }
     }
     .menuSecCard .btnContan button {
      display: flex;
      font-size: 14px;
      padding: 2%;
  

}
}
@media screen and (max-width:992px)   and (min-width: 769px){
   
.menuSecCard .row img {
   height: 14vh;
  }
.menuSecCard .row .image {
   height: 14vh;
}
.menuSecCard .btnContan{
   button{
      font-size: 12px;
   }
}
.menuSecCard .row .card {
   height: 22vh;
   display: flex;
   justify-content: space-between;
   &:hover{
      height: auto;
   }
}
.btnContan{
   margin-top: 2%;
}
.menuSecCard .btnContan{
   button{
      padding: 2%;
   }
}
.searchMain{

   input{
      height: 5vh;
      // width: 100%;
      margin-left: 8rem;
   }
   button{
      right: 2rem;
   }
  }
}



@media  screen and (min-width: 992px) and (max-width:1200px) {
   .menuSecCard .row img {
      height: 22vh;
  }
  .menuSecCard .row .image {
   height: 21vh;
}

.menuSecCard .row .card {
   margin-top: 30%;
   padding: 5%;
   transition: all 0.5s;
   height: 25vh;
   display: flex;
   justify-content: space-between;
   &:hover{
      height: auto;
   }
}
.menuSecCard .btnContan{
   button{
      padding: 2.5%;
   }
}
.searchMain{

   input{
      height: 5vh;
      // width: 100%;
      margin-left: 12rem;
   }
   button{
      right: 4rem;
   }
  }
  .menuMain{
   overflow: hidden;
  }
}