.search{
  width: 15rem;
  height: 5.5vh;
  border: 1px solid #cec9c9;
  box-shadow:2px 2px 2px 2px #cec9c9 ;
  border-radius:50px;
  outline: none;
  padding-right: 50px;
  padding-left: 20px;
  margin-top: 12px;
  transition: all 3s;
}

.searchBtn{
  position: absolute;
  transition: all 1s;
  margin-top: 1%;
  right: 8rem;
}
.navItemShop{
  width: 10rem;
  
}
.searchData{
  position: absolute;
  padding: 1%;
  width: auto;
  top: 10vh;
  background-color: aliceblue;
}

@media screen and (max-width:480px) and (min-width:320px){}
@media screen and  (max-width:768px)  and  (min-width: 481px){}
@media screen and (max-width:992px)   and (min-width: 769px){

}
@media  screen and (min-width: 992px) and (max-width:1200px) {}